# Jetbrains
.idea

# Ignore the .env
.env

# Ignore the Minecraft server.jar
**/*.jar

# Ignore log files
*.log

# Ignore the Minecraft server files and directories
banned-ips.json
banned-players.json
logs/
ops.json
server.properties
usercache.json
whitelist.json
world/

# Ignore NeoForge files
config/
libraries/
user_jvm_args.*
neoforge-installer.jar
run.bat
run.sh
